.challenge_39 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #da4453;
  background: -webkit-linear-gradient(to bottom, #89216b, #da4453);
  background: linear-gradient(to bottom, #89216b, #da4453);

  .main-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 480px;
    background: #333333;
    padding: 10px 30px 0 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 5px 10px 10px black;
  }

  .settings-container {
    height: 45%;
    display: flex;
    align-items: center;
  }

  .left-panel-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 17px 0px;
    top: 0;
    padding: 8px 0;
  }


  h1 {
    font-family: "Fredoka";
    font-size: 19px;
    margin: 0 0 0 2px;
    font-weight: 700;
    line-height: 24px;
    vertical-align: baseline;
    color: ghostwhite;
  }

  .little-buttons-container {
    width: 60px;
    display: flex;
    justify-content: space-between
  }

  .selector-button.notes-button,
  .selector-button.metronome-button {
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .notes-button {
    margin-left: 10px;
  }

  .notes-button img {
    width: 10px;
    pointer-events: none;
  }

  .metronome-icon {
    width: 10px;
    margin-left: 1px;
  }

  .right-panel-container {
    display: flex;
    width: 50%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 14px;
    padding-right: 12px;
  }

  .playback-container, .volume-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .playback-button {
    margin-bottom: 5px;
  }

  .volume-button {
    margin-bottom: -5px;
  }

  .icon-container {
    width: 25px;
  }

  .volume-button, .playback-button {
    text-align: center;
  }


  .settings-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .settings-container button {
    width: 55px;
  }

  .undo-container {
    width: 55px;
    height: 25px;
    display: flex;
    justify-content: space-between;
  }

  .selector-button.undo-button {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selector-button.volume-button {
    width: 25px;
  }

  .selector-button.playback-button {
    width: 25px;
  }

  img {
    width: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(222deg) brightness(101%) contrast(102%);
  }

  .settings-container input {
    position: absolute;
    transform: rotate(270deg);
    width: 110px;
    height: 20px;
    background: green;
    margin: 0;
  }

  .playback-slider {
    left: 4px;
    top: 44px;
  }

  .fast-icon {
    transform: translateX(4px) translateY(3px)
  }

  .slow-icon {
    transform: translateX(2px)
  }

  .volume-slider {
    right: 2px;
    top: 44px;
  }

  .volume-button, playback-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .volume-low-icon {
    transform: scale(.75) translateX(5px) translateY(5px)
  }

  .volume-high-icon {
    transform: translateX(5px) translateY(5px)
  }

  input:focus {
    outline: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #000000;
    border-radius: 4px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    border: 3px solid darkgray;
    box-shadow: 0 0 0 5px white;
    cursor: -webkit-grab;
  }

  input[type="range"]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
  }

  input[type="range"]::-moz-range-track {
    background-color: #000000;
    border-radius: 4px;
  }

  input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    height: 5px;
    width: 5px;
    border: 3px solid darkgray;
    box-shadow: 0 0 0 3px white;
    cursor: -webkit-grab;
  }

  input[type="range"]::-moz-range-thumb:active {
    cursor: -webkit-grabbing;
  }

  button:focus {
    outline: none;
  }

  button:focus:not(:focus-visible) {
    outline: 0;
  }

  button:hover {
    cursor: pointer;
  }

  .keys-container {
    display: grid;
    width: 100%;
    height: 55%;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr;
  }

  .key {
    padding-bottom: 10px;
  }

  .c2 {
    grid-area: 1 / 1 / 4 / 4;
  }

  .d {
    grid-area: 1 / 4 / 4 / 7;
  }

  .e {
    grid-area: 1 / 7 / 4 / 10;
  }

  .c-sharp {
    grid-area: 1 / 3 / 3 / 5;
  }

  .d-sharp {
    grid-area: 1 / 6 / 3 / 8;
  }

  .f {
    grid-area: 1 / 10 / 4 / 13;
  }

  .g {
    grid-area: 1 / 13 / 4 / 16;
  }

  .a {
    grid-area: 1 / 16 / 4 / 19;
  }

  .b {
    grid-area: 1 / 19 / 4 / 22;
  }

  .c3 {
    grid-area: 1 / 22 / 4 / 25;
  }

  .f-sharp {
    grid-area: 1 / 12 / 3 / 14;
  }

  .g-sharp {
    grid-area: 1 / 15 / 3 / 17;
  }

  .a-sharp {
    grid-area: 1 / 18 / 3 / 20;
  }

  .white,
  .black {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .2s
  }

  .white {
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }

  .black {
    height: 100%;
    width: 100%;
    background: black;
    border: none;
    z-index: 1000;
    color: white;
  }

  .white:active,
  .white.active {
    filter: contrast(0.5);
    transform: scale(0.98) translateY(-1px);
  }

  .black:active,
  .black.active {
    filter: contrast(0.5);
    transform: scale(0.96) translateY(-1px);
  }

  .selector-button {
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: #f6fff6;
    width: 60px;
    height: 25px;
    background-color: black;
    border: 2px solid #bbfeb1;
    transition: 0.4s;
  }

  .selector-button.inactive {
    box-shadow: none;
    filter: none
  }

  .selector-button:hover {
    box-shadow: 0 0 0px 1px magenta, 0 0 5px 2px magenta,
    inset 0 0 0px 1px magenta, inset 0 0 30px 2px magenta;
  }

  .selector-button.active, .selector-button:active {
    box-shadow: 0 0 0px 1px #42f112, 0 0 15px 2px #33fd30,
    inset 0 0 0px 1px #42f112, inset 0 0 30px 2px #33fd30;
    filter: brightness(0.75);
  }

  button {
    padding: 0
  }
}