.challenge_27 {
  margin: 0;
  background: lightblue;
  background-image: url("./images/luiz-guimaraes-GbvDICZSNIg-unsplash.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;


  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #99621E;
    background-image: linear-gradient(#774E24, #99621E);
    width: 277px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 6px black;
    padding: 15px;
  }

  h1 {
    color: #5F959F;
    width: 225px;
    height: 75px;
    font-family: 'Bungee Shade', cursive;
    font-size: 26px;
    background: #222222dc;
    padding: 15px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 4px black;
  }

  .thermometer-wrapper {
    position: relative;
    width: 112px;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    grid-area: right-display;
    align-self: center;
    justify-self: center;
    margin-bottom: 20px;
    padding: 7.5px;
  }

  .stem {
    width: 22.5px;
    height: 150px;
    display: flex;
    box-shadow: 1px 2px 2px 2px black;
    flex-flow: column-reverse wrap;
    border-bottom: .5px solid black;
    border-left: .5px solid black;
    border-right: 1px solid black;
    margin-bottom: -7.5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #ffffff6a;
  }

  .stem-segment {
    display: flex;
    justify-content: center;
    width: 22.5px;
    height: 0px;
    margin: 0 auto;
    line-height: 37.5px;
    transition-property: border-top-right-radius, border-top-left-radius;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background: linear-gradient(to top, #980A0B 50%, #c90b0e);
    position: relative;
    z-index: 1;
  }

  .thermometer-base {
    z-index: 2;
    width: 49px;
    height: 49px;
    border-bottom: .5px solid black;
    border-left: .5px solid black;
    border-right: .5px solid black;
    border-radius: 100%;
    background: linear-gradient(to top, #5C0709, #98090B);
    box-shadow: 1px 2px 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    text-align: center;
  }

  .thermometer-base p {
    margin-top: 31px;
    margin-left: 2px
  }

  .explosion {
    position: absolute;
    top: 0;
    font-size: 75px;
    -webkit-animation: heartbeat 0.5s ease-in-out infinite both;
    animation: heartbeat 0.5s ease-in-out infinite both;
  }

  .time {
    color: #51CB20;
    background: #121212ea;
    padding: 7.5px;
    border-radius: 7.5px;
    width: 150px;
    text-align: center;
    font-size: 15px;
    font-family: 'Cursed Timer ULiL', sans-serif;
  }

  button {
    font-family: 'Chango', cursive;
    --bg: #6F959F;
    --text-color: #dddddd;
    text-shadow: 2px 1px 2px black;
    position: relative;
    width: 105px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 11px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 15px;
    letter-spacing: 2px;
    box-shadow: #442222dc 0px 5px 2px, #000 0px 8px 5px;
  }

  button:hover {
    cursor: pointer;
    opacity: .9;
  }

  button:focus:not(:focus-visible) {
    outline: 0;
  }

  button:active {
    top: 4px;
    box-shadow: #222222dc 0px 3px 2px, #000 0px 3px 5px;
  }

  .outsideButton {
    top: 0 !important;
    box-shadow: #442222dc 0px 7px 2px, #000 0px 8px 5px !important;
    transform: scale(1) !important;
    margin-bottom: 20px;
  }

  .shake-horizontal-slow {
    -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  }

  .shake-horizontal-fast {
    -webkit-animation: shake-horizontal .2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-horizontal .2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  }

  .wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 5s both;
    animation: wobble-hor-bottom 5s both;
  }


  /* ----------------------------------------------
   * Generated by Animista on 2023-3-9 11:47:22
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info.
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

  /**
   * ----------------------------------------
   * animation heartbeat
   * ----------------------------------------
   */
  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }

  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }


  /* ----------------------------------------------
   * Generated by Animista on 2023-3-9 11:52:44
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info.
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

  /**
   * ----------------------------------------
   * animation shake-horizontal
   * ----------------------------------------
   */
  @-webkit-keyframes shake-horizontal {

    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }

    80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }

    90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
  }

  @keyframes shake-horizontal {

    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }

    80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }

    90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
  }


  /* ----------------------------------------------
   * Generated by Animista on 2023-3-9 12:5:47
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info.
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

  /**
   * ----------------------------------------
   * animation wobble-hor-bottom
   * ----------------------------------------
   */
  @-webkit-keyframes wobble-hor-bottom {

    0%,
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }

    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
      transform: translateX(-30px) rotate(-6deg);
    }

    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
      transform: translateX(15px) rotate(6deg);
    }

    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
      transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
      transform: translateX(9px) rotate(2.4deg);
    }

    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  @keyframes wobble-hor-bottom {

    0%,
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }

    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
      transform: translateX(-30px) rotate(-6deg);
    }

    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
      transform: translateX(15px) rotate(6deg);
    }

    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
      transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
      transform: translateX(9px) rotate(2.4deg);
    }

    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }
}