.challenge_31 {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6b9080;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .wrapper {
    width: 450px;
    height: 450px;
    background: #cce3de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  .results-counter {
    text-align: center;
    margin-top: 10px;
  }

  .overall-emojis-container {
    display: flex;
    justify-content: space-around;
    font-size: 70px;
    width: 100%;
  }

  .overall-emojis-container button {
    border: 1px solid #191919;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #B68CB8;
    text-shadow: 1px 2px 2px black;
    user-select: text
  }

  button {
    transition: background .2s ease-in-out
  }

  button:hover {
    cursor: pointer;
    background: #EF8354;
  }

  button:focus {
    outline: none;
  }

  h3 {
    margin: 0 0 20px 0;
  }

  .overall-emoji-lists-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }

  .individual-emoji-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 17px;
    padding: 10px;
    flex-wrap: wrap;
  }

  ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .individual-emoji-list-container:first-of-type {
    border-right: 1px solid black;
  }

  .individual-emoji-list-container:first-of-type li {
    font-size: 45px;
  }

  .individual-emoji-list-container:last-of-type li {
    font-size: 25px;
    line-height: 50px;
  }

  span {
    color: #9B287B;
  }

  .results-modal-container {
    position: absolute;
    background: #6b9080;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .results-modal-container p {
    text-align: center;
    font-size: 30px;
    z-index: 20;
    font-weight: 700;
  }

  .results-modal-container ul {
    display: flex;
    align-items: flex-end;
  }

  .get-results-button, .try-again-button {
    border-radius: 15px;
    background: #EFA8B8;
  }

  .get-results-button {
    width: 200px;
    height: 100px;
    font-size: 20px;
  }

  .try-again-button {
    width: 120px;
    height: 60px;
  }

  .bounce-top li {
    margin-top: 20px;
    font-size: 30px;
  }

  .modal-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    background: #cce3de;
    border-radius: 15px;

  }

  .bounce-top :nth-child(1) {
    -webkit-animation: bounce-top 2s infinite alternate;
    animation: bounce-top 2s infinite alternate;
  }

  .bounce-top :nth-child(2) {
    -webkit-animation: bounce-top 3s infinite alternate;
    animation: bounce-top 3s infinite alternate;
  }

  .bounce-top :nth-child(3) {
    -webkit-animation: bounce-top 4s infinite alternate;
    animation: bounce-top 4s infinite alternate;
  }

  .bounce-top :nth-child(4) {
    -webkit-animation: bounce-top 5s infinite alternate;
    animation: bounce-top 5s infinite alternate;
  }

  .bounce-top :nth-child(5) {
    -webkit-animation: bounce-top 6s infinite alternate;
    animation: bounce-top 6s infinite alternate;
  }

  .bounce-top :nth-child(6) {
    -webkit-animation: bounce-top 2.5s infinite alternate;
    animation: bounce-top 2.5s infinite alternate;
  }

  .bounce-top :nth-child(7) {
    -webkit-animation: bounce-top 3.5s infinite alternate;
    animation: bounce-top 3.5s infinite alternate;
  }

  .bounce-top :nth-child(8) {
    -webkit-animation: bounce-top 4.5s infinite alternate;
    animation: bounce-top 4.5s infinite alternate;
  }

  .bounce-top :nth-child(9) {
    -webkit-animation: bounce-top 5.5s infinite alternate;
    animation: bounce-top 5.5s infinite alternate;
  }

  .bounce-top :nth-child(10) {
    -webkit-animation: bounce-top 6.5s infinite alternate;
    animation: bounce-top 6.5s infinite alternate;
  }

  /* ----------------------------------------------
   * Generated by Animista on 2023-3-25 16:59:14
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info.
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

  /**
   * ----------------------------------------
   * animation bounce-top
   * ----------------------------------------
   */
  @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-105px);
      transform: translateY(-105px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
      transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-105px);
      transform: translateY(-105px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-54px);
      transform: translateY(-54px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }

}